<div style="display: flex; justify-content: center; align-items: center; flex-direction: column; margin-top: 50px">
  <div style="font-size: 3.5rem; line-height: 4.6rem">
    Welcome to the Party!
  </div>
  <div style="font-size: 2rem; line-height: 3.2rem; margin: 5rem 0; padding: 0 1rem; text-align: center" class="mat-focused">
    The first ever party planning app that lets you plan your party's <span class="mat-primary">Food</span>, <span class="mat-primary">Games</span>, and <span class="mat-primary">Playlist</span> all in the same place!
    No other system available today allows you, and your closest random friends, to plan a complete party experience like <span class="mat-accent">NgRx.Party</span> does!
  </div>
  <div style="font-size: 2rem; line-height: 3rem;">
    This app was built using <a href="https://angular.io/" target="_blank">Angular</a> and <a href="https://github.com/ngrx/platform" target="_blank">NgRx</a>.
  </div>
  <div style="font-size: 2rem; line-height: 3rem">
    You can find the the entire codebase on <a href="https://github.com/sternetj/ngrx.party" target="_blank">GitHub</a>.
  </div>
</div>
