<mat-card class="mat-elevation-z1">
  <div class="row">
    <div class="col-12">
      <img class="mat-elevation-z6 mx-auto d-block" src="/assets/party-poster.png" style="height: 250px; margin: 0 auto;">
    </div>
    <div class="col-12" style="margin-top: 15px">
        <p class="text-center" style="font-size: 2.5rem">April 18th @ 7PM</p>
      </div>
    <h2 class="col-12" style="margin-top: 15px">
      Food
    </h2>
    <div class="col-12">
      <mat-progress-bar mode="determinate" [value]="countPercentage"></mat-progress-bar>
        <div style="display: flex; justify-content: flex-end">
          <button *ngIf="!counts.total; else count" mat-button color="accent" routerLink="/food">Add some food!</button>
          <ng-template #count>
            <span style="font-size: 24px">{{counts.bringing}} / {{counts.total}}</span>
          </ng-template>
        </div> 
    </div>
    <h2 class="col-12" style="margin-top: 30px">
      Games
    </h2>
    <div class="col-12">
        <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
    </div>
    <h2 class="col-12" style="margin-top: 30px">
      Songs
    </h2>
    <div class="col-12">
        <p class="text-center" style="font-size: 4rem; color: #3f51b5;">34</p>
    </div>
  </div>
</mat-card>
