<div mat-dialog-title class="display-1">Welcome to the Party!</div>
<mat-dialog-content>
  <p class="body-1">We need some basic info before you get started.</p>
  <div style="display: flex; align-items: flex-end;">
    <div style="width: 80px; height: 80px; border-radius: 40px; background: #3f51b5" matTooltip="Click to change" matTooltipPosition="right"
      (click)="nextImage()">
      <img class="logo" [src]="profileImages[profileIndex]" />
    </div>
    <mat-form-field style="margin-left: 20px; flex-grow: 1;">
      <input matInput #name placeholder="Enter your Name" />
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions style="justify-content: flex-end;">
  <button [disabled]="!name.value" mat-raised-button color="accent" [mat-dialog-close]="{'logo': profileImages[profileIndex], 'name': name.value}">Continue</button>
</mat-dialog-actions>
