<div class="mat-elevation-z6" style="position: fixed;top: 0;left: 0;right: 0;z-index: 2;">
  <nav style="background-color: #3f51b5; display: flex; flex-wrap: wrap; align-items: center; padding: 8px 16px; color: white">
    <a mat-button>Home</a>
    <a mat-button>Videos</a>
    <a mat-button>Food</a>
    <a mat-button>Games</a>
  </nav>
</div>
<div class="container-fluid" style="margin-top: 56px">
  <div class="row">
    <div class="col-8">
      Content
    </div>
    <div class="col-4">
      <app-overview></app-overview>
    </div>
  </div>
</div>
