<div class="container-fluid">
  <div class="row" style="display: block">
    <div class="col-xs-12">
      <mat-card style="margin: 20px;">
        <div style="display: flex;">
          <div style="flex: 1 1 auto;">
            <h2 mat-card-header>{{food.name}}</h2>
            <div style="display: flex;">
              <p style="flex: 1 1 auto;">
                {{food.description}}
              </p>
            </div>
            <div style="display: flex; align-items: center">
              <app-user-icon *ngFor="let user of food.users" [logo]="user.logo" [matTooltip]="user.name" matTooltipPosition="below"></app-user-icon>
            </div>
          </div>
          <div style="display: flex; flex-direction: column; justify-content: center;">
            <div *ngIf="!food.obtained; else complete" >
              <div style="align-self: flex-end">{{remaining}} Remaining</div>
              <button mat-raised-button color="accent" [disabled]="bringDisabled" (click)="bringingFood.emit()">{{buttonText}}</button>
            </div>
            <ng-template #complete>
              <div style="background-color: #009688; height: 80px; width: 80px; border-radius: 50px; display: flex; align-items: center; justify-content: center; color: white;">
                <mat-icon style="font-size: 3rem; height: 3rem; width: 3rem;">done</mat-icon>
              </div>
            </ng-template>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
